.counter__container {
  display: flex;
  flex-direction: column;
  margin: 15% 30%;
  text-align: center;
  background: #608860;
  padding: 2rem;
  border-radius: 1rem;
}

.counter__container p {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem;
  color: #000;
}

.btn__container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

.btn__container1 > button {
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  border: 1px solid #000;
  font-weight: 600;
  background: goldenrod;
}

input {
  width: 30%;
  margin: 2% 28%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

.btn {
  margin-top: 1rem;
}

.btn > button {
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #000;
  font-weight: 600;
  background: goldenrod;
  margin-right: 1rem;
}